.preview a.label.blocked {
  background-color: hsl(349, 69%, 46%);
  border-radius: 20px;
  color: white;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.labels_maker .selected.labels li a.label.blocked,
.labels_maker .selected.labels li a.label.blocked + a.remove {
  background-color: hsl(349, 69%, 46%);
}

.labels_maker .selected.labels li a.label.blocked:hover,
.labels_maker .selected.labels li a.label.blocked + a.remove:hover {
  background-color: hsl(349, 69%, 32%);
}

.preview b.label.planner {
  background-color: hsl(180, 43%, 39%));
  border-radius: 20px;
  color: white;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.labels_maker .selected.labels li b.label.planner,
.labels_maker .selected.labels li b.label.planner + b.remove {
  background-color: hsl(180, 43%, 39%);
}

.labels_maker .selected.labels li b.label.planner:hover,
.labels_maker .selected.labels li b.label.planner + b.remove:hover {
  background-color: hsl(180, 43%, 39%);
}
