.preview a.label.blocked {
  background-color: hsl(349, 69%, 46%);
  border-radius: 20px;
  color: white;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.labels_maker .selected.labels li a.label.blocked,
.labels_maker .selected.labels li a.label.blocked + a.remove {
  background-color: hsl(349, 69%, 46%);
}

.labels_maker .selected.labels li a.label.blocked:hover,
.labels_maker .selected.labels li a.label.blocked + a.remove:hover {
  background-color: hsl(349, 69%, 32%);
}

.preview a.label.failed {
  background-color: hsl(21, 98%, 59%);
  border-radius: 20px;
  color: white;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.labels_maker .selected.labels li a.label.failed,
.labels_maker .selected.labels li a.label.failed + a.remove {
  background-color: hsl(21, 98%, 59%);
}

.labels_maker .selected.labels li a.label.failed:hover,
.labels_maker .selected.labels li a.label.failed + a.remove:hover {
  background-color: hsl(21, 98%, 32%);
}
